*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
    text-align:center;
}

h1{
    color:white;
    margin-bottom:20px;
}

.status{
    color:white;
    font-size:22px;
    margin-bottom:20px;
    font-weight:bold;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:8px;
    justify-content:center;
}

.cell{
    width:100px;
    height:100px;
    background:white;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.cell:hover{
    background:#f0f0f0;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#ffffff;
    color:#333;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#ddd;
}